/* global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Mono", monospace;
}
h1 {
  font-size: 50px;
  letter-spacing: 1px;
  line-height: 55px;
  margin-bottom: 30px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

p {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 35px;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
}
img {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

/* Header Styles */
header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  transition: 0.5s ease;
  background-color: rgba(0, 0, 0, 0.2);
}
header .brand {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .navigation .navigation-items a {
  position: relative;
  color: rgb(255, 255, 255);
  font-size: 1.3em;
  font-weight: 500;
  margin-left: 30px;
  transition: 0.3s ease;
  text-decoration: none;
}
header .navigation .navigation-items a::before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:hover::before {
  width: 100%;
}

/* Section Styles */
section {
  padding: 100px 50px;
}

.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #4096ae;
}
.description {
  padding: 10px 50px;
  position: absolute;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #4096ae;
}

.content {
  z-index: 900;
  color: white;
  width: 70%;
  margin-top: 50px;
}

.description .content {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  justify-content: center;
}

.description .content p {
  text-indent: 3em;
}

/* Button Styles */
button {
  border: none;
  background-color: white;
  opacity: 0.3;
  padding: 15px 35px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  border-radius: 50px;
  transition: opacity 0.3s;
  width: 160px;
}
button:hover {
  opacity: 0.7;
}
